<!DOCTYPE html>
<html lang="ko" style="background-color: rgb(200, 200, 200);">
<head>
    <meta charset="UTF-8">
    <title>UPGRADING SWORD</title>
    <link rel="shortcut icon" type="image/x-icon" href="file:///C:/Users/admin/Desktop/%EC%9A%A9%EC%A4%80/%EA%B0%84%EC%A7%80%EB%82%98%EB%8A%94%20%EA%B2%80.png">
</head>


<style>
    
    a:link    { color: black; text-decoration: none;}
    a:visited { color: black; text-decoration: none;}
    a:hover   { color: black; text-decoration: none;}
    a:active  { color: black; text-decoration: none;}
    
    
</style>


<body>
    <h1 style="text-align: center; margin-top: 10%; font-size: 2cm;">자원</h1>
    <h1 style="text-align: center; margin-top: 10%;">돈 : 100000원</h1>
    <h1 style="text-align: center; margin-top: 5%;">깨짐방지권 : 0개</h1>
    <div style="text-align: center; font-size: 1cm; margin-top: 10%;">
        <a href="/game">돌아가기</a>
    </div>

</body>
</html>