<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>UPGRADING SWORD</title>
    <link rel="shortcut icon" type="image/x-icon" href="file:///C:/Users/admin/Desktop/%EC%9A%A9%EC%A4%80/%EA%B0%84%EC%A7%80%EB%82%98%EB%8A%94%20%EA%B2%80.png">
    <h1 style="font-size: 2cm; text-align: center; margin-top: 15%;">UPGRADING SWORD</h1>

</head>

<style>
    
a:link    { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none }
a:hover   { color: black; text-decoration: none }
a:active  { color: black; text-decoration: none }


</style>

<body style="background-color: rgb(200, 200, 200);">
    <form action="/game" style="text-align: center;">
        <a href="/register">회원가입</a>
        <a href="/sign_in" style="margin-left: 1%;">로그인</a> <br>
        <div style="margin-top: 5%; text-align: center;">
            <input type="submit" value="게임시작">
        </div>
    </form>
    

</body>
</html>
